cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.2
modernize==0.6.1
mysql-connector-python==8.0.31
numpy==1.23.5
protobuf==3.6.0
PyAudio==0.2.11
pydub==0.25.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
scipy==1.1.0
six==1.11.0
SQLAlchemy==1.2.9
SQLAlchemy-utils==0.39.0
python_magic==0.4.27
flask==1.1.4
asyncio==3.4.3
websockets==10.4
#librosa==0.9.2
tenacity==8.1.0